<!DOCTYPE html>
<html>
<head>

<title>Auto World<title/>

</head>
<body>

<ul class="navbar">
  <li>
    <a href="index.html">Home Page</a>
  </li>
    <li>
      <a href="vehicles.html">Vehicle Brands</a>
    </li>
    <li>
      <a href="models.html">Vehicle Models</a>
    </li>
    <li>
      <a href="country.html">Country of Origin</a>

      <h1>Cars are everywhere, love them!</h1>

      <p>Automobiles (cars) exist everywhere. So many different brands, models, and variants. The number, currently too high to list.</p>

<p>Coupes, convertibles, sedans, minivans, station wagons, SUVs, pickups, passenger vans, conversion vans, cargo vans, etc. All have their place in this world.</p>

</body>
</html>
